# Python bytecode files

**pycache**/
\*.pyc

# Virtual environment

code_snippet_venv/

# IDEs

.vscode/
.idea/

# Logs

\*.log

# .env files

.env

# Other files to ignore (e.g., models, large data, etc.)



.DS_Store
